<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogFile="C:\Users\parla\source\repos\shooping\shoopinglog.txt">
	<extensions>
		<!-- Load NLog.Extended to enable ASP.NET-specific functionality -->
		<add assembly="NLog.Extended" />
	</extensions>

	<!-- Define Various Log Targets like files, database or ASP.NET trace files -->
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${message}" />

		<!-- Write logs to File where we want to write error logs -->
		<target name="file" xsi:type="File" fileName="C:\Users\parla\source\repos\shooping\shooping\ErrorLogFile.log" layout="
--------------------- ${level} (${longdate}) ${machinename} --------------------\n
Exception Type: ${exception:format=Type}\n
Exception Message: ${exception:format=Message}\n
Stack Trace: ${exception:format=stacktrace}\n
Additional Info: ${message}\n
">
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
