@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100 py-5">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/Image/login.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form id="authForm" method="post" action="Register">
                        <input type="hidden" id="formType" name="formType" value="login">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" class="form-control input_user" id="username" placeholder="Username">
                        </div>
                        <div class="input-group mb-3 hidden" id="emailField">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" id="email" name="email" class="form-control input_email" placeholder="Email">
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control input_pass" placeholder="Password">
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="button" class="btn login_btn" onclick="onFormSubmit()" id="authBtn">Login</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <span id="toggleLink" onclick="toggleForm()"> Don't have an account? Sign Up</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>

        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #60a3bc !important;
        }

        .user_card {
            height: 400px;
            width: 350px;
            margin-top: auto;
            margin-bottom: auto;
            background: #f39c12;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }

        .brand_logo_container {
            position: absolute;
            height: 170px;
            width: 170px;
            top: -75px;
            border-radius: 50%;
            background: #60a3bc;
            padding: 10px;
            text-align: center;
        }

        .brand_logo {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 2px solid white;
        }

        .form_container {
            margin-top: 100px;
        }

        .login_btn {
            width: 100%;
            background: #c0392b !important;
            color: white !important;
        }

            .login_btn:focus {
                box-shadow: none !important;
                outline: 0px !important;
            }

        .login_container {
            padding: 0 2rem;
        }

        .input-group-text {
            background: #c0392b !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }

        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
            background-color: #c0392b !important;
        }


        .input_email {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .hidden {
            display: none;
        }
    </style>

</body>
</html>
<script defer>
    function toggleForm() {
        var formType = document.getElementById('formType');
        var authBtn = document.getElementById('authBtn');
        var toggleLink = document.getElementById('toggleLink');
        var emailField = document.getElementById('emailField');

        if (formType.value === 'login') {
            formType.value = 'register';
            authBtn.textContent = 'Register';
            toggleLink.textContent = 'Already have an account? Login';
            emailField.classList.remove('hidden');

        } else {
            formType.value = 'login';
            authBtn.textContent = 'Login';
            toggleLink.textContent = 'Don\'t have an account? Sign Up';
            emailField.classList.add('hidden');
        }
    }

    function login() {
        var url = "/Login/UserLogin";
        var data = {
            UserName: $('#username').val(),
            Password: $('#password').val()
        };
        var success = function (data, status, response) {
            var auth_code = response.getResponseHeader("X-Auth-Token");
            localStorage.auth_token = auth_code;
            localStorage.user = JSON.stringify(data);
            window.location.href = "https://localhost:44301/";
        };
        postData(url, data, success);
    }

    function register() {
        var url = "/Login/Register";
        var data = {
            UserName: $('#username').val(),
            Email: $('#email').val(),
            Password: $('#password').val()
        };

        var success = function (data, status, response) {
            console.log("Registration successful");
            window.location.href = "https://localhost:44301/login";
        };

        postData(url, data, success);
    }

    function onFormSubmit() {
        var formType = document.getElementById('formType');
        if (formType.value === 'login') {
            login();
        }
        else {
            register();
        }
    }
</script>
<script>
    if (localStorage.auth_token) {
        window.location.href = "https://localhost:44301/";
    }
</script>
