@{
    ViewBag.Title = "Home";
}



    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bi bi-bucket-fill"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Product</h6>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">You can do tasks like<br>Edit-Delete-Search-Add-View</h3>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Product")">Products Details</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bi bi-person-circle"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Customer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">You can do tasks like<br>Edit-Delete-Search-Add-View</h3>

                        <a class="btn btn-primary" href="@Url.Action("Index", "Customer")">Customers Details</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bi bi-box"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-3">Sales</h6>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">You can do tasks like<br>Edit-Delete-Search-Add-View</h3>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Sale")">Sales Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    if (!localStorage.auth_token)
    {
        window.location.href = "https://localhost:44301/login";
    }
</script>

